pipeline/PL_if.json
{
	"name": "PL_if",
	"properties": {
		"activities": [
			{
				"name": "Get Metadataemptydata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "emptymetdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition for empty check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadataemptydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Metadataemptydata').output.columnCount,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "emptyvalue",
								"value": {
									"value": "string(empty)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "datacheck",
								"value": {
									"value": "string((activity('Get Metadataemptydata').output.columnCount)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"datacheck": {
				"type": "String"
			},
			"emptyvalue": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-18T06:47:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}